<!-- Footer -->
<footer class="global-footer">
    <div class="footer-container">
      <div class="social-icons">
        <a href="https://za.linkedin.com/company/mickeyllew-pty-ltd" target="_blank" class="icon"><img src="static\Socials\linkedin.png" alt="Linkedin"></a>
        <a href="#" target="_blank" class="icon"><img src="static\Socials\youtube.png" alt="Youtube"></a>
        <a href="https://www.instagram.com/mickeyllew/?hl=en" target="_blank" class="icon"><img src="static\Socials\instagram.png" alt="Instagram"></a>
      </div>
    </div>
  </footer>
  