<!DOCTYPE html>
<html>

<head>
    <title>Weather Tables | Weather Forecast App</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.3/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="./static/images/mickey_llew_logo.png" />
    <link rel="stylesheet" href="./static/styles.css" />
</head>

<body>
    <!-- Nav Bar -->
    {% include 'navbar.html' %}

    <!-- Search Bar -->
    <div class="search-bar">
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search for a city..." />
            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Weather Tables Title -->
    <div class="weather-tables-title">
        <h1>Weather Forecast for {{ city }}</h1>
    </div>

    <!-- Weather Tables -->
    <div class="weather-table-container">
        <div class="weather-table-wrapper">
            <table class="weather-table">
                <thead>
                    <tr>
                        <th>Day of the Week</th>
                        {% for forecast in weather_forecast %}
                        <th>{{ forecast['date'].strftime('%A') }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Temperature (Max/Min)</td>
                        {% for forecast in weather_forecast %}
                        <td>{{ "%.2f"|format(forecast['temperature_max']) }}°C / {{
                            "%.2f"|format(forecast['temperature_min']) }}°C</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Humidity</td>
                        {% for forecast in weather_forecast %}
                        <td>{{ "%.2f"|format(forecast['humidity']) }}%</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Precipitation</td>
                        {% for forecast in weather_forecast %}
                        <td>{{ "%.2f"|format(forecast['precipitation']) }} mm</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Wind Speed</td>
                        {% for forecast in weather_forecast %}
                        <td>{{ "%.2f"|format(forecast['wind_speed']) }} km/h</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Wind Direction</td>
                        {% for forecast in weather_forecast %}
                        <td>{{ forecast['wind_direction']}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

    <script>
        const cityName = "{{ city }}";

        const weatherTable = document.querySelector(".weather-table");
        const weatherTableWrapper = document.querySelector(".weather-table-wrapper");
        let scrollValue = 0;
        const scrollStep = 400;

        const scrollTable = (direction) => {
            const maxScroll = weatherTable.scrollWidth - weatherTableWrapper.clientWidth;

            if (direction === "left") {
                scrollValue = Math.max(scrollValue - scrollStep, 0);
            } else if (direction === "right") {
                scrollValue = Math.min(scrollValue + scrollStep, maxScroll);
            }

            weatherTable.style.transform = `translateX(-${scrollValue}px)`;
        };
    </script>
</body>

</html>