<!DOCTYPE html>
<html>
<head>
    <title>Weather Graphs | Weather Forecast App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.3/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="./static/images/mickey_llew_logo.png" />
    <link rel="stylesheet" href="./static/styles.css" />
</head>
<body>
    <!-- Include the navbar from the original code -->
    {% include 'navbar.html' %}

    <!-- Add the graphs elements here to display the weather graphs -->
    <!-- You can use libraries like matplotlib to generate and display the graphs -->
</body>
</html>
