<!DOCTYPE html>
<html>
<head>
    <title>Weather Tables | Weather Forecast App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.3/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="./static/images/mickey_llew_logo.png" />
    <link rel="stylesheet" href="./static/styles.css" />
</head>
<body>
    <!-- Nav Bar -->
    {% include 'navbar.html' %}

    <!-- Search Bar -->
    <div class="search-bar">
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search for a city..." />
            <button type="submit">Search</button>
        </form>
    </div>

    <!-- Weather Tables -->
    
    <!-- You can use HTML table elements to structure and display the data -->
</body>
</html>
